@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Main container that fills full screen */
.main-card {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    background-image: url(./assets/background.png);
    color:#000000;
}


p{
    font-family: 'Montserrat', sans-serif;
    padding : 5px;
    color: #000000;
}

.desc{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color:#000000;
    transform: scaleY(1.5);
    display: inline-block;
    letter-spacing: 3px;
}

.content-wrapper {
    text-align: center;
    padding: 20px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    max-width: 700px; 
    margin: 20px auto 0; 
}


/* Buttons styling */
.btn {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25), 
              0 0 10px rgba(0, 0, 0, 0.05) inset;

    padding: 12px 24px;
    color: #111; 
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: rgba(255, 255, 255, 0.45); 
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  }
footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 14px;
}

.footer-text {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); 
}

@media screen and (max-width: 600px){
    .desc{
        font-size: 10px;
        transform: scaleY(1.2);
    }

    .main-card{
        padding: 10px;
        background-image: url('../assets/background-mobile.png') !important;
        background-size: cover;
        background-position: center;
    }
}
