.card{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}  
.form-container {
    color:white;
    background: linear-gradient(to right ,#1AA7EC,#4ADEDE);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 50vw;
    margin: 0 auto; 
}

.form-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label{

    display: block;
    font-weight: bold;
    font-size: 15px;
}



.back{
    background:linear-gradient(45deg,#4fd6f7,white);
    padding:20px;
}
.btn{
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}
.btn:hover{
    background-color: #0056b3;
}

.select-box{
    border:none;
    appearance: none;
    padding:5px;
    width:100%;
    color:black;
    font-size: 15px;
    margin: 10px;
    border-radius: 6px;
    height:35px;
}
.select-contaniner
{
    display:flex;
    justify-content: center;
    position: relative;
    min-width: 250px;
    height: 50px;
}

.back1{
    background:linear-gradient(45deg,#4fd6f7,white);
    padding:20px;
    height:100vh;

}
.form-con{
    background: linear-gradient(45deg,#4ADEDE,#1AA7EC);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 40vw;
    margin:20px; 
    color:white;
}

.back2{
    font-family: Helvetica;
    color:black;
}

